<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <h2 class="mb-3 text-center">My Favorite Courses</h2>
      <div class="row">
        <% @favorites.each do |favorite| %>
          <div class="col-3 mb-4">

            <%= link_to product_path(favorite.product), class: "product-link" do %>
              <div class="card card-index position-relative shadow width-xs">

              <div style="background-size: cover; background-repeat: no-repeat; width: 100%; height: 170px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path favorite.product.photo.key, height: 300, crop: :fill %>')"></div>
                <div class="card-body p-4 card-carla">
                  <div>
                    <h5 class="card-title mb-4"><strong><%= favorite.product.subject %></strong></h5>
                    <p class="location card-text"> <%= favorite.product.description %></p>
                  </div>
                  <div class="card-duration-difficulty">
                    <span>
                      <i class="fa-regular fa-hourglass-half me-2"></i><%=favorite.product.duration%>
                    </span>
                    <span>
                      <i class="fa-solid fa-stairs me-2"></i></i><%=favorite.product.level%>
                    </span>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
