<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-gpt-chatroom-subscription-chatroom-id-value="<%= gpt_chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

  <div class="messages" data-gpt-chatroom-subscription-target="messages">
    <% @gpt_chatroom.gpt_messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>

  <%= simple_form_for [gpt_chatroom, gpt_message],
    html: { data: { action: "turbo:submit-end->gpt-chatroom-subscription#resetForm" }, class: "d-flex"} do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{gpt_chatroom.id}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary btn-sm mb-3 me-2" %>
    <%= link_to "Talk to teacher", chatrooms_path, class: "btn btn-secondary btn-sm mb-3 me-2 d-flex align-items-center", data: { turbo_method: "post" } %>
  <% end %>
</div>
