<div class='container-fluid'>
 <div class="row">
  <!-- Chapters-->
  <div id="sidebar" class="d-flex flex-column flex-shrink-0 bg-light col-3 p-0">
    <h4 class="text-center pt-4"> <%= @product.subject %></h4>
    <ul class="list-group">
      <% @chapters.each do |chapter| %>
        <%= link_to product_chapter_path(@product, chapter), class:"text-dark" do %>
          <li class="ps-4 list-group-item">
            <p class="chapter-title" ><%= chapter.title %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <!-- Chapter Content -->
  <div id="main-content" class="col-9 mx-auto" style="">
    <div class="chapter-button m-2 d-flex justify-content-between m-4" style='height: 40px'>
      <%= link_to "Back to Course", product_path(@product), class: 'btn btn-primary', style: 'width: 160px' %>
      <% if @gpt_chatroom  %>
        <%= link_to "Open chat", gpt_chatroom_path(@gpt_chatroom), class: 'btn btn-warning' %>
      <% else %>
        <%= link_to "Talk to your AI assistant", gpt_chatrooms_path, data: { "turbo-method": :post }, class: 'btn btn-warning' %>
      <% end %>
      <div class="next-previous ">
        <% previous_chapter = @chapters[@chapters.index(@current_chapter) - 1] %>
        <% next_chapter = @chapters[@chapters.index(@current_chapter) + 1] %>
        <% if @current_chapter != @chapters.first %>
          <%= link_to "Previous", product_chapter_path(@product, previous_chapter), class: 'btn btn-primary', style: 'width: 90px' %>
        <% end %>
        <% if next_chapter %>
          <%= link_to "Next", product_chapter_path(@product, next_chapter), class: 'btn btn-primary', style: 'width: 90px' %>
        <% end %>
      </div>
    </div>

    <div class="inside-content m-2 border shadow p-4", style='min-height: 600px'>
      <h2 class="text-center mb-4"><%= @current_chapter.title %></h2>
      <p><%= @current_chapter.content %></p>
    </div>
  </div>
 </div>
</div>
