<% if user_signed_in? %>
  <% @prices.each do |price| %>
    <%= price.product.name %>
    <%= price.currency %>
    <%= price.unit_amount/100 %>
    <%= price.recurring.interval %>
    <%= button_to 'Subscribe', stripe_checkout_path(price_id: price.id), data: {turbo: 'false'} %>
  <% end %>
  <%= button_to 'Billing Portal', stripe_billing_portal_path, data: {turbo: 'false'} %>

  <hr>

  <p>Tipo de plano:<%= current_user.plan %></p>
  <p>Status: <%= current_user.subscription_status %></p>
  <p>End time: <%= current_user.subscription_ends_at %></p>
  <p>Stripe ID:<%= current_user.stripe_customer_id  %></p>
<% end %>
