<% content_for :meta_title, "#{@product.subject} is on #{DEFAULT_META["meta_product_name"]}" %>  <% content_for :meta_description, @product.description %>  <% content_for :meta_image, cl_image_path(@product.photo.key) %>

<div class="container mt-4">
  <div class="head-product mb-5">
    <h1><strong><%= @product.subject %></strong></h1>
    <p><%= @product.description %></p>
  </div>
  <div class="row">
  <div class="img-text col-md-6">
    <div class="product-image mb-3">
      <div style="background-size: cover; background-repeat: no-repeat; width: 100%; height: 340px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @product.photo.key, height: 2000, crop: :fill %>')"></div>
    </div>
    <div class="product-text d-flex">
      </div>
      <div class="login-study d-flex justify-content-center">
        <% if !user_signed_in? %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-dark" %>
        <% else %>
        <% if @product.chapters.exists? && @user.status == "subscribed" %>
          <div class="studying me-3"> <%= link_to "Start Studying", product_chapter_path(@product, @product.chapters.first), class: "btn btn-info" %> </div>
        <% elsif user_signed_in? && @user.status == "unsubscribed" %>
          <%= button_to "Subscribe to Start", stripe_checkout_path(price_id: @prices[0].id), data: {turbo: 'false'}, class: "btn btn-warning mb-3 me-3" %>
        <% end %>
          <div class="favorite">
            <% thisfavorite = Favorite.find_by(user: current_user, product: @product) %>
            <% if thisfavorite %>
              <%= link_to "Remove from Favorites", favorite_path(thisfavorite), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger mb-3" %>
            <% else %>
              <%= button_to "Add to Favorites", product_favorites_path(@product), class: "btn btn-success mb-3" %>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>

    <div class="product-chapter col-md-6 mb-5">
      <div class="chapters-container ms-3">
        <% if user_signed_in? && @user.status == "subscribed" %>
          <h3 class="text-center"><strong>Chapters</strong></h3>
          <% @product.chapters.each do |chapter| %>
            <%= link_to product_chapter_path(@product, chapter), class: "chapter-link" do %>
              <button class="btn chapter-name">
                <p class="chapter-title"><strong><%= chapter.title %></strong></p>
                <p class="chapter-description"><%= chapter.description %></p>
              </button>
            <% end %>
          <% end %>
        <% else %>
          <h3><strong>Chapters</strong></h3>
          <% if user_signed_in? %>
            <% @product.chapters.each do |chapter| %>
            <%= link_to product_chapter_path(@product, chapter), class: "chapter-link" do %>
              <button class="btn chapter-name">
                <p class="chapter-title"><strong><%= chapter.title %></strong></p>
                <p class="chapter-description"><%= chapter.description %></p>
              </button>
            <% end %>
          <% end %>
          <% else %>
            <% @product.chapters.each do |chapter| %>
            <%= link_to product_chapter_path(@product, chapter), class: "chapter-link" do %>
              <button class="btn chapter-name">
                <p class="chapter-title"><strong><%= chapter.title %></strong></p>
                <p class="chapter-description"><%= chapter.description %></p>
              </button>
            <% end %>
          <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
