<div class="container mt-4">
  <div class="head-product mb-5">
    <h1><strong><%= @product.subject %></strong></h1>
    <p><%= @product.description %></p>
  </div>
  <div class="row">
  <div class="img-text col-6">
    <div class="product-image mb-3">
      <div style="background-size: cover; background-repeat: no-repeat; width: 100%; height: 340px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @product.photo.key, height: 2000, crop: :fill %>')"></div>
    </div>
    <div class="product-text d-flex">
      </div>
      <div class="login-study d-flex justify-content-center">
        <% if !user_signed_in? %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-dark" %>
        <% else %>
        <% if @product.chapters.exists? && @user.status == "subscribed" %>
          <div class="studying me-3"> <%= link_to "Start Studying", product_chapter_path(@product, @product.chapters.first), class: "btn btn-info" %> </div>
        <% end %>
          <div class="favorite">
            <% thisfavorite = Favorite.find_by(user: current_user, product: @product) %>
            <% if thisfavorite %>
              <%= link_to "Remove from Favorites", favorite_path(thisfavorite), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger mb-3" %>
            <% else %>
              <%= button_to "Add to Favorites", product_favorites_path(@product), class: "btn btn-success mb-3" %>
            <% end %>
          </div>
        <% end %>
      </div>
  </div>

  <div class="product-chapter col-6">
    <ul class="list-group">
      <% if user_signed_in? && @user.status == "subscribed" %>
       <h3 class="ms-3"><strong>Chapters</strong></h3>
        <% @product.chapters.each do |chapter| %>
          <%= link_to product_chapter_path(@product, chapter), class:"chapter-link" do %>
          <div class="">
            <li class="list-group-item hover-grey"><p><strong><%= chapter.title %></strong></p>
              <p><%= chapter.content %></p>
            </li>
          </div>
          <% end %>
        <% end %>
      <% else %>
       <h3 class="ms-3"><strong>Chapters</strong></h3>
        <% @product.chapters.each do |chapter| %>
          <li class="list-group-item"><p><strong><%= chapter.title %></strong></p>
            <p><%= chapter.content %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  </div>
</div>
