<!DOCTYPE html>
<html>
  <head>
    <title>Code Labs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag %><%# Compare this snippet from app/views/layouts/application.html.erb: %>

  </head>

  <body>
  <%= render "shared/navbar" %>
  <div class="main">
    <%= render "shared/flashes" %>
    <%= yield %>
  </div>
  <% unless rendering_show_chapter %>
    <div class="footer mt-3">
      <%= render "shared/footer" %>
    </div>
  <% end %>
  </div>
  </body>
</html>
